body {
    background-color: #000000;
    background-image: linear-gradient( 315deg, #1ccac8 -41%, #000000 38%);
}

.logo-img {
    height: 150px;
}

.qr-sec {
    text-align: center;
    padding: 5%;
    margin-bottom: 20px;
}

.card {
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #031717;
}

h4 {
    color: #fff;
}

p {
    color: #fff;
}